$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

@import "~bootstrap/scss/bootstrap";
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: $font-stack;

  .l-rel {
    position: relative;
  }
  .b-container {

    @include desktop-1024 {
      width: 1180px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .b-nav {

    height: 64px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    //

    @include desktop-1024 {
      position: relative;
      height: 80px;
      display: flex;
      z-index: 100;
      position: relative;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      justify-content: space-between;
    }

    &__burger {
      width: 24px;
      height: 24px;
      @include desktop-1024 {
        display: none;
      }
    }

    &__logo-link {
      cursor: pointer;
      transition: all 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
      line-height: 1.31;
    }

    &__logo {
      width: 80px;
      height: 40px;
      margin: 0 auto;
      display: block;
      position: relative;
      @include desktop-1024 {
        width: 95px;
        height: 48px;
        display: inline-block;
        position: relative;
        flex-shrink: 0;
        margin-right: 36px;
      }
    }

    &__ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 320px;
      top: 0;
      height: 100vh;
      left: -375px;
      transition: all 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
      background-color: #fff;
      @include md-375 {
        width: 375px;
      }
      @include desktop-1024 {
        position: relative;
        left: 0;
        flex-grow: 1;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: none;
      }

      &_state-active {
        left: 0;
      }
    }

    &__mobile-ul-header {
      height: 60px;
      padding: 12px 16px;
      margin-bottom: 22px;
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      @include desktop-1024 {
        display: none;
      }
    }

    &__mobile-menu-close {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 16px;
    }

    &__li {
      // display: flex;
      display: none;
      position: relative;
      margin-bottom: 27px;
      left: 16px;
      @include desktop-1024 {
        margin-bottom: 0;
        margin-right: 20px;
        align-items: center;
        line-height: 80px;
        cursor: pointer;
        transition: color 120ms cubic-bezier(0.4, 0.0, 0.2, 1);

        &:hover {
          color: #FF8C00;
        }
      }

      &_state-active {
        &:after {
          content: '';
          left: 0;
          width: 100%;
          bottom: -1px;
          height: 4px;
          content: "";
          display: block;
          position: absolute;
          border-radius: 2px;
          background-color: #FF8C00;
        }
      }
    }

    &__li-mobile {
      position: relative;
      margin-bottom: 27px;
      left: 16px;
    }

    &__loope {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    &__buttons-block {
      display: flex;
    }

    &__button {
      margin-left: 16px;
    }

    &__button-create {
      display: none;
      @include desktop-1024 {
        display: block;
        padding: 0 24px;
        color: #000;
        border: 1px solid rgba(0,0,0,0.14);
        background: #fff;
        background-clip: padding-box;
        height: 42px;
        font-size: 14px;
        min-width: 100px;
        border-radius: 21px;
        transition: .5s all ease-in-out;
        &:hover {
          border: 1px solid #000;
        }
      }
    }

    &__button-enter {
      border: 1px solid rgba(0,0,0,0.14);
      background: #fff;
      padding: 9px 14px;
      font-size: 13px;
      border-radius: 21px;
      background-clip: padding-box;
      @include desktop-1024 {
        height: 42px;
        padding: 0 24px;
        color: #fff;
        background: #FF8C00;
        border: 1px solid rgba(0,0,0,0.14);
        min-width: 100px;
        font-size: 14px;
      }
    }

    &__dropdown-block {
      position: absolute;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      top: 0px;
      transition: all 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
      background: #fff;
      box-shadow: 0 15px 40px 0 rgba(0,0,0,0.15);
      border-top: 1px solid #d8d8d8;

      &_state-active {
        visibility: visible;
        opacity: 1;
        top: 80px;
      }
    }

    &__dropdown-wrapper {
      display: flex;
      padding-top: 30px;
    }

    &__dropdown-content-block {
      margin: 0 auto;
      display: flex;
      padding: 30px 50px 10px;
      flex-wrap: wrap;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 16px;
      flex-direction: row;
      &_75{
        width: 75.00000000%;
        padding: 10px;
      }

      &_25{
        width: 25.00000000%;
        padding: 10px;
      }
    }
    &__dropdown-content-title {
      color: rgba(0,0,0,0.6);
      font-size: 13px;
      line-height: 1.38;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &__dropdown-menu-close {
      top: 27px;
      right: 27px;
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      opacity: 0.6;
      cursor: pointer;
      transition: opacity 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    &__dropdown-item-block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      a {
        width: 270px;
        margin-right: 12px;
        margin-bottom: 16px;

        // width: 225px;
        color: #000;
        display: flex;
        padding: 4px 8px;
        transition: all 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
        align-items: center;
        font-weight: 500;
        line-height: 1.31;
        margin-right: 8px;
        margin-bottom: 12px;
        border-radius: 4px;
        flex-direction: row;
        justify-content: flex-start;
        text-decoration: none;

        &:hover {
          background-color: #f5f5f5;
        }
      }
      img {
        width: 32px;
        height: 32px;
        margin-right: 15px;
      }
    }
  }
}
